@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';

@theme {
    --font-outfit: 'Outfit', sans-serif;
    --animate-block: block 25s linear infinite;
    --animate-trail: trail 25s linear infinite;
}

@keyframes block {
    to {
        transform: translateY(100vh)
    }
}

@keyframes trail {
    from {
        clip-path: inset(0 0 100% 0);
    }

    to {
        clip-path: inset(0 0 0 0);
    }
}
